<%= form_with(model: question) do |form| %>
  
    <% if question.errors.any? %>
      <% blank_flg = 0 %>
        <div class="error_ms">
          <ul>
          <% question.errors.full_messages.each do |error| %>
            
            <% msg = "" %>
            <% if error.include?("can't be blank") %>
              <% if blank_flg == 1 %>
                <% next %>
              <% else %>
                <% blank_flg = 1 %>
                <% msg = "必須項目に記入してください" %>
              <% end %>
            <% elsif error == ("Title is too long (maximum is 30 characters)") %>
              <% msg = "タイトルは30文字以内にしてください" %>
            <% end %>

            <li><%= msg %></li>

          <% end %>
          </ul>
        </div>
    <% end %>
  
    <div class="field">
      <%= form.label "タイトル（必須 : 30文字以内) - 例1:○○エラーの原因を教えてください。例2:○○プログラムの組み方を教えてください。" , class: "q_label"%>
      <%= form.text_field :title , class: "title_form" %>
    </div>

    <div class="field">
      <%= form.label :キーワード（エラーに対する質問の場合）, class: "q_label" %>
        <%# セレクトボックスに表示するキーワードを抽出する処理 %>
          <% err_list = open("#{Rails.root}/app/views/homes/errorList.yml","r") { |f| YAML.load(f) } %>
          <% err_mess = ""  %>
          <% err_list.each do |e_m| %>
            <% err_mess += "#{e_m["err_mess"]}," %>
          <% end %>
          <% err_mess = err_mess.split(",") %>
        <%# ここまで%>
      <%= form.select :key, err_mess, include_blank: "選択して下さい（キーワードがわからない場合は選択する必要はありません)",class:"key_form" %>
    </div>

    <div class="field">
      <%= form.label :質問内容（必須）, class: "q_label" %>
      <%= form.text_area :content, class: "con_form" %>
    </div>

    <div class="field">
      <%= form.label "画像（任意で最大５つまで：プログラムやエラーメッセージのスクリーンショット）※ファイル形式はpngやjpgなど", class: "q_label" %>
      <table class="image_table">
      <% if @image.present? || @image_2.present? || @image_3.present? || @image_5.present? || @image_5.present?%>

        <% save_img = "" %>
        <% if @image.present? %>
          <% save_img += "１つ目「#{@image}」 " %>
        <% end %>
        <% if @image_2.present? %>
          <% save_img += "２つ目「#{@image_2}」 " %>
        <% end %>
        <% if @image_3.present? %>
          <% save_img += "３つ目「#{@image_3}」 " %>
        <% end %>
        <% if @image_4.present? %>
          <% save_img += "4つ目「#{@image_4}」 " %>
        <% end %>
        <% if @image_5.present? %>
          <% save_img += "5つ目「#{@image_5}」 " %>
        <% end %>
        
        <p style="color: red;">※ 前回投稿した画像は保存されています。新たに画像を追加する場合は未保存の箇所にファイルをアップしてください。<br>　画像を置き換えたい場合はその画像が保存されてる箇所にファイルをアップしてください。<br>　( 保存済み: <%= save_img%>)<br> </p>
      <% end %>

        <tr><td style="padding-bottom: 0;"><p style="color: blue; padding: 0 0 0 30px;">( ファイル名も公開されます。何についての画像なのかをファイル名に付けてください。)</p></td></tr>
        <tr><td>・１つ目　<%= form.file_field :image, class: "image_field" %></td></tr>
        <tr><td>・２つ目　<%= form.file_field :image_2, class: "image_field" %></td></tr>
        <tr><td>・３つ目　<%= form.file_field :image_3, class: "image_field" %></td></tr>
        <tr><td>・４つ目　<%= form.file_field :image_4, class: "image_field" %></td></tr>
        <tr><td>・５つ目　<%= form.file_field :image_5, class: "image_field" %></td></tr>
      </table>
    </div>

    <%= button_tag type: :submit, :class => 'c_btn' do %><i class="fas fa-paper-plane"></i>送信<% end %>
  
<% end %>
