<%= form_with(model: question) do |form| %>
  
    <% if question.errors.any? %>
      <div class="error_ms", style="font-size: 17px; text-align: center;">
        <h5>・必須項目に入力してください</h5>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label "タイトル（必須：質問内容を要約したもの -「例1 ○○エラーの発生位置について」「例2 課題の3番について」)" , class: "q_label"%>
      <%= form.text_field :title , class: "title_form" %>
    </div>

    <div class="field">
      <%= form.label :キーワード（任意）, class: "q_label" %>
      <%= form.collection_select :key, ErrorList.all, :err_mess, :err_mess, include_blank: "選択して下さい（キーワードがわからない場合は選択する必要はありません)",class:"key_form" %>
    </div>

    <div class="field">
      <%= form.label :質問内容（必須）, class: "q_label" %>
      <%= form.text_area :content, class: "con_form" %>
    </div>

    <div class="field">
      <%= form.label "画像（任意で最大３つまで：プログラムやエラーメッセージのスクリーンショット）※ファイル形式はpngやjpgなど", class: "q_label" %>
      <table class="image_table">
      <% if @image.present? || @image_2.present? || @image_3.present?%>

        <% save_img = "" %>
        <% if @image.present? %>
          <% save_img += "１つ目  " %>
        <% end %>
        <% if @image_2.present? %>
          <% save_img += "２つ目  " %>
        <% end %>
        <% if @image_3.present? %>
          <% save_img += "３つ目  " %>
        <% end %>
        
        <p style="color: red;">※ 前回投稿した画像は保存されています。変更する場合のみ新たに選択してください。( 保存済み: <%= save_img %>) </p>
      <% end %>
        <tr><td>・１つ目　<%= form.file_field :image, class: "image_field" %></td></tr>
        <tr><td>・２つ目　<%= form.file_field :image_2, class: "image_field" %></td></tr>
        <tr><td>・３つ目　<%= form.file_field :image_3, class: "image_field" %></td></tr>
      </table>
    </div>

    <%= button_tag type: :submit, :class => 'c_btn' do %><i class="fas fa-paper-plane"></i>送信<% end %>
  
<% end %>
