<div class="content_box">
  <div class="around_box">

    <% if current_user?(User.find_by(id: @question.user_id)) %>
      <div class="edit_delete_btn_around">
        <div class="edit_delete_link">
          <%= link_to  edit_question_path(@question) do%>
            <button class="edit_delete_btn" style="margin-right:30px;"><i class="fas fa-pen q_icon"></i> 編集</button>
          <% end %>
        </div>
        <div class="edit_delete_link">
          <%= link_to  question_path(@question), method: :delete,data: {confirm: "この質問とこれに対する回答、返信が全て削除されます。\n削除した内容を復元することはできません。\n※この質問への回答に押された「いいね」は保存されます。\n本当に削除しますか？"} do%>
            <button class="edit_delete_btn"><i class="fas fa-trash-alt"></i> 削除</button>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= button_to new_answer_path, :class => 'q_btn', :method => :get , params: {q_id: @question.id} do %>
        <i class="fas fa-pen q_icon"></i>回答する
      <% end %>
    <% end %>

    <div class="q_a_box">

      <% if flash[:q_mes] %>
        <div class="flash"><%= flash[:q_mes] %></div>
      <% end %>

      <h2>
        <%= @question.title %>
        
        <% if logged_in? %>
         <% if current_user.id == @question.user_id %>
            <% if @question.solved %>
              <div class="solved_link">
                <%= link_to question_path(@question.id, question: {solved: false}), method: :put, data: {confirm: "チェックを外しますか？"} do %>
                  <button class="solved_btn"><i class="fas fa-check-square"></i>  解決済み</button>
                <% end %>
              </div>
            <% else %>
              <div class="solved_link">
                <%= link_to question_path(@question.id, question: {solved: true}), method: :put, data: {confirm: "チェックを入れますか？"}  do %>
                  <button class="solved_btn"><i class="far fa-square"></i> 解決済み</button>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        
      </h2>

      <h5><i class="fas fa-pen q_icon"></i>  <%= @question.created_at.strftime("%Y年 %m月 %d日") %></h5>
      <h5><i class="fas fa-history"></i>  <%= @question.updated_at.strftime("%Y年 %m月 %d日") %></h5>

      <h5 class="info userInf"><%= User.find_by(id: @question.user_id).name %></h5>
      <h5 class="info keyInf" style="color:red;"><% if @question.key.present? %><%= @question.key %><% else %>キーワードなし<% end %></h5>

      <div class="con_box">
        <div class="box-title">質問内容</div>
        <p><%= @question.content %></p>

        <% if @question.image.present? %> 
          <div style="text-align:center;">「<%= @question.file_name[0,@question.file_name.index('.')] %>」</div>
          <div style="text-align:center;"><%= image_tag(show_image_question_path(@question),{class: "con_img"}) %></div>
        <% end %>
        <% if @question.image_2.present? %> 
          <div style="text-align:center;">「<%= @question.file_name_2[0,@question.file_name_2.index('.')] %>」</div>
          <div style="text-align:center;"><%= image_tag(show_image_2_question_path(@question),{class: "con_img"}) %></div>    
        <% end %>
        <% if @question.image_3.present? %> 
          <div style="text-align:center;">「<%= @question.file_name_3[0,@question.file_name_3.index('.')] %>」</div>
          <div style="text-align:center;"><%= image_tag(show_image_3_question_path(@question),{class: "con_img"}) %></div>
        <% end %>
        <% if @question.image_4.present? %> 
          <div style="text-align:center;">「<%= @question.file_name_4[0,@question.file_name_4.index('.')] %>」</div>
          <div style="text-align:center;"><%= image_tag(show_image_4_question_path(@question),{class: "con_img"}) %></div>
        <% end %>
        <% if @question.image_5.present? %> 
          <div style="text-align:center;">「<%= @question.file_name_5[0,@question.file_name_5.index('.')] %>」</div>
          <div style="text-align:center;"><%= image_tag(show_image_5_question_path(@question),{class: "con_img"}) %></div>
        <% end %>
      </div>

      <% if @answer.present? %>
        
        <% @answer.each do |answer| %>

          <div class="ans_box">
              <div class="box-title">
              
                <div style="font-size: 15px; padding-right: 5px;">
                  <%= User.find_by(id: answer.user_id).name %>さんの</div>回答
                
                <% if logged_in? %>
                    <% if current_user.own?(answer) %>

                      <div class="ans_edit_delete_link">
                        <%= link_to  edit_answer_path(answer) do%>
                          <button class="ans_edit_delete_btn"><i class="fas fa-pen q_icon"></i> 編集</button>
                        <% end %>
                      </div>
                      
                      <div class="ans_edit_delete_link">
                        <%= link_to  answer_path(answer), method: :delete,data: {confirm: "この回答のみが削除されます。\n削除した内容を復元することはできません。\n本当に削除しますか？"} do%>
                          <button class="ans_edit_delete_btn"><i class="fas fa-trash-alt"></i> 削除</button>
                        <% end %>
                      </div>

                    <% else %>

                      <div id="nice-btn-<%=answer.id%>" >
                        <% if current_user&.nice?(answer) %>
                          <%= render 'nices/not_nice_btn', answer: answer %>
                        <% else %>
                          <%= render 'nices/nice_btn', answer: answer %>
                        <% end %>
                      </div>

                    <% end %>
                  <% end %>

              </div>

            <h5>
              <i class="fas fa-user-circle user_icon"></i> <%= User.find_by(id: answer.user_id).name %>
              <i class="fas fa-pen r_icon"></i>  <%= answer.updated_at.strftime("%Y-%m-%d") %>
            </h5>
            <div class="ans_con">
              <p><%= answer.answer %></p>
            </div>

            <% reply = Reply.where(answer_id: answer.id) %>
            <% if reply.present? %>
              <% reply.each do |rep| %>
                <div class="rep_box">
                  <h5><i class="fas fa-user-circle user_icon_2"></i> <%= User.find_by(id: rep.user_id).name %>
                    <% if current_user?(User.find_by(id: rep.user_id)) %>
                      <div class="rep_edit_delete_link">
                        <%= link_to  edit_reply_path(rep) do%>
                          <button class="rep_edit_delete_btn"><i class="fas fa-pen q_icon"></i> 編集</button>
                        <% end %>
                      </div>

                      <div class="rep_edit_delete_link">
                        <%= link_to  reply_path(rep), method: :delete,data: {confirm: "削除した返信を復元することはできません。\n本当に削除しますか？"} do%>
                          <button class="rep_edit_delete_btn"><i class="fas fa-trash-alt"></i> 削除</button>
                        <% end %>
                      </div>
                    <% end %>
                    <i class="fas fa-pen r_icon"></i>  <%= rep.updated_at.strftime("%Y-%m-%d") %>
                  </h5>

                  <p><%= rep.reply %></p>

                </div>
              <% end %>
            <% end %>

            <div align="right">
              <%= button_to new_reply_path, :class => 'rep_btn', :method => :get , params: {ans_id: answer.id} do %>
                <i class="fas fa-reply"></i>返信する
              <% end %>
            </div>
          </div>

        <% end %>
      <% end %>

    </div>
  </div>
</div>
