<div class="content_box" align="center">
  <div class="around_box">

    <div class="resultbox" style="width: 700px; padding-top: 15px;">
        <div class="l_t_box"><h3 class="learnTitle"><i class="fas fa-user-graduate learn_icon"></i> エラー学習</h3></div>

        <div class="choices_box" style="width: 500px; margin: 0 auto;">

            <%= form_with url: test_path, method: :get, local: true do |f| %>
                <h4><i class="fas fa-check"></i> 難易度</h4>
                <div class="custom_box">
                    <%= f.radio_button :difc, :easy %>
                    <%= f.label(:difc, "簡単", value: "easy") %>
                    <%= f.radio_button :difc, :normal %> 
                    <%= f.label(:difc, "普通", value: "normal") %>
                    <%= f.radio_button :difc, :hard %> 
                    <%= f.label(:difc, "難しい", value: "hard") %>
                </div>

                <h4><i class="fas fa-check"></i> エラーの種類</h4>
                <div class="custom_box">
                    <%= f.radio_button :kind, :NameError %> 
                    <%= f.label(:kind, "NameError", value: "NameError") %>
                    <%= f.radio_button :kind, :nothing %>
                    <%= f.label(:kind, "指定しない", value: "nothing") %>
                </div>

                <h4><i class="fas fa-check"></i> 問題数</h4>
                <div class="custom_box">
                    <%= f.radio_button :total, :'1' %> 
                    <%= f.label(:total, "１問", value: "1") %>
                    <%= f.radio_button :total, :'3' %> 
                    <%= f.label(:total, "３問", value: "3") %>
                    <%= f.radio_button :total, :'5' %>
                    <%= f.label(:total, "５問", value: "5") %>
                </div>
            
        </div>

            <button id="fake_btn" class="fake_btn" style="width: 140px; margin-top: 30px;"  disabled><i class="far fa-play-circle"></i>開始する</button>
            <%= button_tag type: :submit, :id => 'real_btn', :class => 'choices_button', :style => "display: none; width: 140px; margin-top: 30px;"  do %><i class="far fa-play-circle"></i>開始する<% end %>

        <% end %>

    </div>
  </div>
</div>