<div class="content_box" align="center">
  <div class="around_box">

    <div class="resultbox">

        <h3 align="center">ー第<%= session[:number] + 1 %>問ー</h3>

        <div class="qes_box">
            <h4><i class="fas fa-edit"></i> エラーが発生しているプログラム</h4>
            <p><%= @q["q_pro"] %></p>
            <h4><i class="fas fa-external-link-alt"></i> 出力されているエラー</h4>
            <p><%= @q["q_err"] %></p>
        </div>

        <div class="choices_box">

            <% if session[:check].present? %>

                <div class="box-title">結果</div>

                <% if session[:check] == "correct" %>
                    <p class="judge" style="color: red;"><i class="far fa-circle"></i> 正解</p>
                <% else %>
                    <p class="judge" style="color: blue;"><i class="fas fa-times"></i> 不正解</p>
                <% end %>

                <p>・・・ 正解（<%= session[:r_ans] %>）</p><br>

                <% for i in 0..3 %>
                    <p style="margin-left: 30px;"><%= "(#{i+1}) #{@q["#{@key}"][i]}" %></p><br>
                <% end %>

                <% if session[:status] == "new" || session[:status] == "stay_c" %>

                    </div> <%# choices_boxの終了タグ %>

                    <%= button_to test_path, :class => 'choices_button', :style => 'width:120px; background-color: #6862b4; border-color: rgb(119, 117, 113);', :method => :get , params: {status: "next"} do %>
                        <i class="fas fa-arrow-alt-circle-right"></i>続きへ
                    <% end %>
                    
                <% else %>

                    <div class="ans_box">
                        <h5 class="title">ー解説ー</h5>
                        <p>　<%= @q["ans"] %></p>
                    </div>

                    </div> <%# choices_boxの終了タグ %>

                    <% if session[:status] == "stay_s" %>

                        <%= button_to test_path, :class => 'choices_button', :style => 'width: 150px; background-color: #6862b4; border-color: rgb(119, 117, 113);' , :method => :get , params: {status: "change"} do %>
                            <i class="fas fa-arrow-alt-circle-right"></i>次の問題へ
                        <% end %>

                    <% elsif session[:status] == "finish" %>

                        <%= button_to learn_path, :class => 'choices_button', :style => 'width: 140px; background-color: #6862b4; border-color: rgb(119, 117, 113);' , :method => :get do %>
                            <i class="fas fa-check-circle"></i>終了する
                        <% end %>

                    <% end %>

                <% end %>

            <% else %>

                <% if @key == "c_a"%>    
                    <div class="box-title">エラーの原因を選択してください</div>
                <% else %>
                    <div class="box-title">エラーの解決法を選択してください</div>
                <% end %>

                <%= form_with url: test_path, method: :get do |f| %>

                    <%= f.radio_button :ans, :a %>
                    <p><%= f.label :ans, "(1) #{@q["#{@key}"][0]}", {value: :a, style: "display: inline-block;"} %></p><br>

                    <%= f.radio_button :ans, :b %>
                    <p><%= f.label :ans, "(2) #{@q["#{@key}"][1]}", {value: :b, style: "display: inline-block;"} %></p><br>

                    <%= f.radio_button :ans, :c %>
                    <p><%= f.label :ans, "(3) #{@q["#{@key}"][2]}", {value: :c, style: "display: inline-block;"} %></p><br>

                    <%= f.radio_button :ans, :d %>
                    <p><%= f.label :ans, "(4) #{@q["#{@key}"][3]}", {value: :d, style: "display: inline-block;"} %></p><br>

                    </div> <%# choices_boxの終了タグ %>

                    <div id="ans_btn_1">
                        <button class="fake_btn" disabled><i class="fas fa-check-circle"></i>回答</button>
                    </div>

                    <%= button_tag type: :submit, :id => 'ans_btn_2',  :class => 'choices_button', :style => 'display: none;' do %>
                        <i class="fas fa-check-circle"></i>回答
                    <% end %>

                <% end %>
            <% end %>


    </div>

  </div>
</div>