<%= form_with(model: answer) do |form| %>

  <% if answer.errors.any? %>
    <div class="error_ms", style="font-size: 17px; text-align: center;">
      <h5>・回答内容を入力してください</h5>
    </div>
  <% end %>

  <div class="con_box">
  <div class="box-title">質問内容</div>
  <p><%= @question.content %></p>

  <% if @question.image.present? %> 
    <div style="text-align:center;">「<%= @question.file_name[0,@question.file_name.index('.')] %>」</div>
    <div style="text-align:center;"><%= image_tag(show_image_question_path(@question),{class: "con_img"}) %></div>
  <% end %>
  <% if @question.image_2.present? %> 
    <div style="text-align:center;">「<%= @question.file_name_2[0,@question.file_name_2.index('.')] %>」</div>
    <div style="text-align:center;"><%= image_tag(show_image_2_question_path(@question),{class: "con_img"}) %></div>    
  <% end %>
  <% if @question.image_3.present? %> 
    <div style="text-align:center;">「<%= @question.file_name_3[0,@question.file_name_3.index('.')] %>」</div>
    <div style="text-align:center;"><%= image_tag(show_image_3_question_path(@question),{class: "con_img"}) %></div>
  <% end %>
  <% if @question.image_4.present? %> 
    <div style="text-align:center;">「<%= @question.file_name_4[0,@question.file_name_4.index('.')] %>」</div>
    <div style="text-align:center;"><%= image_tag(show_image_4_question_path(@question),{class: "con_img"}) %></div>
  <% end %>
  <% if @question.image_5.present? %> 
    <div style="text-align:center;">「<%= @question.file_name_5[0,@question.file_name_5.index('.')] %>」</div>
    <div style="text-align:center;"><%= image_tag(show_image_5_question_path(@question),{class: "con_img"}) %></div>
  <% end %>

  <%= form.hidden_field :question_id, :value => @question.id %>

  <div class="ans_form_box">
    <div class="field">
      <%= form.label :回答フォーム, class: "ans_label" %>
      <%= form.text_area :answer, class: "ans_form" %>
    </div>

    <%= button_tag type: :submit, :class => 'ans_button' do %><i class="fas fa-paper-plane"></i>送信<% end %>
  </div>

<% end %>