<%= form_with(model: answer) do |form| %>

  <% if answer.errors.any? %>
    <div class="error_ms err_ms_adj">
      <h5>・回答内容を入力してください</h5>
    </div>
  <% end %>

  <%= render 'layouts/qContent' %>

  <%= form.hidden_field :question_id, :value => @question.id %>

  <div class="ans_form_box">
    <div class="field">
      <%= form.label :回答フォーム, class: "ans_label" %>
      <%= form.text_area :answer, class: "ans_form" %>
    </div>

    <%= button_tag type: :submit, :class => 'btn c_btn c_btn_adj' do %><i class="fas fa-paper-plane"></i>送信<% end %>
  </div>

<% end %>