<nav>

  <%= render 'layouts/nav' %> 

  <div class="signup_link">
    <%= link_to new_user_path do %>
      <button class="signup_btn"><i class="fas fa-user-plus"></i> 新規登録</button>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="log">
      <%= link_to  user_path(@current_user) do %>
        <button class="btn"><i class="fas fa-user-check"></i> マイページ</button>
      <% end %>
    </div>
  <% else %>
    <div class="log">
      <%= link_to  login_path do%>
        <button class="btn"><i class="fas fa-user"></i> ログイン</button>
      <% end %>
    </div>
  <% end %>

  <%= form_with url:analysis_homes_path, method: :get do |f| %>
    <div class="searchArea">
      <%= text_field_tag "err_mess","", {class: "searchText"} %>
      <div class="searchButton" onclick="goSearch()">
        <%= image_submit_tag 'search.png', {class:"searchImg"} %>
      </div>
    </div>
  <% end %>

</nav>



<% if @errorList.empty? %>

  <div class="resultbox">

    <% if flash[:log_mes] %>
      <div class="flash"><%= flash[:log_mes] %></div>
    <% end %>

    <div class="alertbox">
      <div class="alert-title"><i class="fas fa-check-square"></i> ポイント</div>
      <p>※解析の精度を高めるため一度の実行で出力されたエラーメッセージを全てコピーして貼り付けてください。(14029字まで対応)</p>
    </div>

    <div class="example">
      <p>1 , エラーメッセージをコピー。</p>
      <%= image_tag 'example_copy.png',{class:"ex_copy"}%><br>
      <i class="fas fa-angle-double-down down"></i>

      <p>2 , コピーしたメッセージを検索ボックスに貼り付け。</p>
      <%= image_tag 'example_input.png',{class:"ex_input"}%><br>
      <i class="fas fa-angle-double-down down"></i>

      <p>3 , Enterキー or 検索ボタンクリックで解析開始。</p>
      <%= image_tag 'example_result.png',{class:"ex_result"}%><br>
      <i class="fas fa-angle-double-down down"></i>

      <p>4 , 解決できない場合は質問箱で質問。</p>
      <%= image_tag 'example_question.png',{class:"ex_question"}%>
    </div>

  </div>

<% else %>

  <% resultFlag = 0 %>

  <% @errorList.each do |errorList| %>
    <% err_mess = errorList.err_mess %>

    <% if params[:err_mess].include?("#{err_mess}")%>
      <div class="resultbox">

        <h4><i class="fas fa-check-circle"></i>　解析キーワード</h4>
          <p>"<%= errorList.err_mess %>"</p>
        
        <h4><i class="fas fa-check-circle"></i>　主な原因</h4>
          <p><%= errorList.cause %></p>

        <h4><i class="fas fa-check-circle"></i>　ヒント</h4>
          <p><%= errorList.advice %></p>
                 
      </div>

      <% resultFlag = 1%>

    <% elsif err_mess == @errorList[@errorList.length-1].err_mess && resultFlag == 0%>
      <div class="resultbox">
        <div class="mess">
          <h4 style="color:red;"><i class="fas fa-exclamation-circle"></i>　No error was found</h4>
          <p>エラーキーワードを見つけることができませんでした。このアプリケーションに登録されていないエラーの可能性があります。</p>
        </div>
      </div>
    <% end %>

  <% end %>
  
<% end %>
　