<%= render 'layouts/nav' %> 
<%= render 'layouts/back' %> 

<div class="content_box" align="center">

    <%= form_with url:analysis_homes_path, method: :get do |f| %>
      <div class="searchArea">
        <%= text_field_tag "err_mess","", {class: "searchText"} %>
        <div class="searchButton" onclick="goSearch()">
          <%= image_submit_tag 'search.png', {class:"searchImg"} %>
        </div>
      </div>
    <% end %>

    <% if @errorList.empty? %>
    
        <% if flash[:log_mes] %>
          <div class="flash"><%= flash[:log_mes] %></div>
        <% end %>

        <div class="wrap">
          <div class="content">
            <p class="fadein txt01">これはエラーを解析するアプリケーションです</p>
            <p class="fadein txt02">１度の実行で出力された全てのエラーを検索ボックスに貼り付けてください</p>
            <p class="fadein txt03">解析できなかった・解析結果を見ても解決できなかった場合は</p>
            <p class="fadein txt04">質問箱を使用してみんなに協力してもらいましょう</p>
            <p class="fadein txt05">このアプリケーションによって</p>
            <p class="fadein txt06">よりスムーズなプログラミングを手助けします</p>
          </div>
        </div> 


    <% else %>

      <div class="around_box">
      
        <% resultFlag = 0 %>

        <% @errorList.each do |errorList| %>
          <% err_mess = errorList.err_mess %>

          <% if params[:err_mess].include?("#{err_mess}")%>
            <div class="resultbox">

              <h4><i class="fas fa-check-circle"></i>　解析キーワード</h4>
                <p>"<%= errorList.err_mess %>"</p>
              
              <h4><i class="fas fa-check-circle"></i>　主な原因</h4>
                <p><%= errorList.cause %></p>

              <h4><i class="fas fa-check-circle"></i>　ヒント</h4>
                <p><%= errorList.advice %></p>
                      
            </div>

            <% resultFlag = 1%>

          <% elsif err_mess == @errorList[@errorList.length-1].err_mess && resultFlag == 0%>
            <div class="resultbox">
              <div class="mess">
                <h4 style="color:red;"><i class="fas fa-exclamation-circle"></i> No error was found</h4>
                <p>エラーキーワードを見つけることができませんでした。<br>このアプリケーションに登録されていないエラーの可能性があります。
                  <br><br>
                  <%= button_to new_question_path, :class => 'q_btn', :method => :get do %>
                    <i class="fas fa-pen q_icon"></i>質問する
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>

        <% end %>

      </div>
        
    <% end %>

</div>
