<div class="back"></div>

<a href="/"><div class="title"></div></a>
<h1>-ErrorAnalysis-</h1>


<%= form_with url:analysis_homes_path, method: :get, lonal: true do |f| %>
  <div class="searchArea">
    <%= text_field_tag "err_mess","", {class: "searchText"} %>
    <div class="searchButton" onclick="goSearch()">
      <%= image_submit_tag 'search.png', {class:"searchImg"} %>
    </div>
  </div>
<% end %>



<% if @errorList.empty? %>
  <div class="resultbox">
    <p class="mess">Please enter the error message</p>
  </div>
<% else %>
  <% resultFlag = 0 %>
  <% @errorList.each do |errorList| %>
    <% err_mess = errorList.err_mess %>

    <% if params[:err_mess].include?("#{err_mess}")%>
      <div class="resultbox">

        <h4><i class="fas fa-clone"></i>　key</h4>
          <p>"<%= errorList.err_mess %>"</p>
        
        <h4><i class="fas fa-clone"></i>　Cause</h4>
          <p><%= errorList.cause %></p>

        <h4><i class="fas fa-clone"></i>　advice</h4>
          <p><%= errorList.advice %></p>
                 
      </div>
      <% resultFlag = 1%>
    <% elsif err_mess == @errorList[@errorList.length-1].err_mess && resultFlag == 0%>
      <div class="resultbox">
        <p class="mess">No error was found</p>
      </div>
    <% end %>

  <% end %>
<% end %>
　