<!DOCTYPE html>
<html>
  <head>
    <title>ErrorAnalysis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script> 

      $(function(){
        setTimeout("$('.flash').fadeOut('slow')", 5000);
      });

      $(function(){
        setTimeout("$('.flash_2').fadeOut('slow')", 10000);
      });

      $(function(){
        setTimeout("$('.flash_signup').fadeOut('slow')", 15000);
      });

      jQuery(function() {
        var appear = false;
        var pagetop = $('#page_top');
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {  //100pxスクロールしたら
            if (appear == false) {
              appear = true;
              pagetop.stop().animate({
                'right': '0px' //右から0pxの位置に
              }, 300); //0.3秒かけて現れる
            }
          } else {
            if (appear) {
              appear = false;
              pagetop.stop().animate({
                'right': '-50px' //右から-50pxの位置に
              }, 300); //0.3秒かけて隠れる
            }
          }
        });
        pagetop.click(function () {
          $('body, html').animate({ scrollTop: 0 }, 500); //0.5秒かけてトップへ戻る
          return false;
        });
      });
    </script>
  </head>

  <body>
    <div class="back"></div>
    
    <%= yield %>

    <div id="page_top"><a href="#"></a></div>
  </body>
</html>
