<!DOCTYPE html>

<html>
  <head>

    <title>ErrorAnalysis</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# いいね機能に対するajax用 %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%# animateでbackground-colorの色指定を有効にする用 %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    

    <script> 

      //フラッシュメッセージを時間経過で削除する処理
      $( () => {
        setTimeout("$('.flash').fadeOut('slow')", 10000);
        setTimeout("$('.flash_2').fadeOut('slow')", 10000);
        setTimeout("$('.flash_signup').fadeOut('slow')", 15000);
      });
    

      //画面上部に戻るボタンの処理
      $( () => {

        let appear = false,
            $pagetop = $('#page_top');

        $(window).scroll( () => {
          if ($(this).scrollTop() > 100) {  //100pxスクロールしたら
            if (appear == false) {
              appear = true;
              $pagetop.stop().animate({
                'right': '0px' //右から0pxの位置に
              }, 300); //0.3秒かけて現れる
            }
          } else {
            if (appear) {
              appear = false;
              $pagetop.stop().animate({
                'right': '-50px' //右から-50pxの位置に
              }, 300); //0.3秒かけて隠れる
            }
          }
        });

        $pagetop.click( () => {
          $('body, html').animate({ scrollTop: 0 }, 500); //0.5秒かけてトップへ戻る
          return false;
        });

      });

   
      //学習機能-ラジオボタンが選択されてからボタンを表示させる処理
      $( () => {
        $('input').change( () =>  {
  
          let $d = $('input[name=difc]:checked').val(),
              $k = $('input[name=kind]:checked').val(),
              $t = $('input[name=total]:checked').val(),
              $ans = $('input[name=ans]:checked').val();

          if ($d != undefined && $k != undefined && $t != undefined || $ans != undefined) {
            $('#fake_btn').hide();
            $('#real_btn').css("display", "flex").animate({
              backgroundColor: '#6862b4',
              borderColor: 'rgb(119, 117, 113)',
              opacity: 1
            }, 100);
          }

        });       
      });

    
      //学習機能-問題の選択肢のdiv要素を移動させる処理
      $( () => {

        let _isMoving = false, //移動中かどうかのフラグ true:移動中 false:停止中
            _clickX,  _clickY, //クリックされた位置
            _position;         //クリックされた時の要素の位置

        //mousedownイベント
        $("#target").on("mousedown", (e) => {

          if (_isMoving) return; //移動中の場合は処理しない
    
          _isMoving = true; //移動中にする

          //クリックされた座標を保持します
          _clickX = e.screenX;
          _clickY = e.screenY;

          //クリックされた時の要素の座標を保持します
          _position = $("#target").parent().position();
        });

        //mousemoveイベント
        $("#root").on("mousemove", (e) => {
         
          if (_isMoving == false) return; //移動中でない場合は処理しない

          //クリックされた時の要素の座標に、移動量を加算したものを、座標として設定します
          $("#target").parent().css("left", (_position.left + e.screenX - _clickX) + "px");
          $("#target").parent().css("top" , (_position.top  + e.screenY - _clickY) + "px");
        });

        //mouseupイベント
        $("#root").on("mouseup", (e) => {

          if (_isMoving == false) return; //移動中でない場合は処理しない
         
          _isMoving = false; //停止中にする
        });

      });

    </script>

  </head>

  <body class="<%= controller.controller_name %> <%= controller.controller_name %>-<%= controller.action_name%>">

    <%# 背景 %>
    <div class="area"> 
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >

    <%# ナビゲーションバー %>
    <nav>
      
      <%# プルダウンのリスト %>
      <div class="list">
        <ul class="gnav">
          <li><a href=""><i class="fas fa-list-ul"></i></a>
            <ul>
              <li><%= link_to "/" do %><i class="fas fa-home"></i> HOME<% end %></li>
              <li><%= link_to questions_path do %><i class="fas fa-box-open"></i> 質問箱<% end %></li>
              <li><%= link_to learn_path do %><i class="fas fa-graduation-cap"></i> エラー学習<% end %></li>
              <% if logged_in? %>
                <li><%= link_to  user_path(@current_user) do%><i class="fas fa-user-check"></i> マイページ<% end %></li>
                <li><%= link_to  logout_path, method: :delete, data: {confirm: "ログアウトしますか？"} do%><i class="fas fa-user"></i> ログアウト<% end %></li>
              <% else %>
                <li><%= link_to  login_path do%><i class="fas fa-user"></i> ログイン<% end %></li>
              <% end %>
              <li><%= link_to new_user_path do %><i class="fas fa-user-plus"></i> 新規登録<% end %></li>
            </ul>
          </li>
        </ul>
      </div>

      <%= button_to questions_path, :class => 'q_nav_btn', :method => :get do %>
        <i class="fas fa-box-open"></i> 質問箱
      <% end %>

      <%= button_to learn_path, :class => 'st_nav_btn', :method => :get do %>
        <i class="fas fa-graduation-cap"></i> エラー学習
      <% end %>

      <%# 中央のアプリケーション名 %>
      <%= link_to '/', {class: "home-link"} do %> <%= image_tag 'title.png', class:"title_img" %> <% end %>
      <%# <h1>-ErrorAnalysis-</h1> %>

      <%# 「ログイン・ログアウト・マイページ」ボタンのどれかを表示 %>
      <div class="log">
        <% if logged_in? %>

          <%# マイページ閲覧中ならば「ログアウト」ボタンを表示、それ以外なら「マイページ」ボタンを表示 %>
          <% if @now_user_show.nil? %>
              <%= link_to  user_path(@current_user) do %>
                <button class="log_btn_2"><i class="fas fa-user-check"></i> マイページ</button>
              <% end %>
          <% else %>
              <%= link_to  logout_path, method: :delete, data: {confirm: "ログアウトしますか？"} do %>
                <button class="log_btn_2"><i class="fas fa-user-check"></i> ログアウト</button>
              <% end %>
          <% end %>
          
        <% else %>
            <%= link_to  login_path do%>
              <button class="log_btn"><i class="fas fa-user"></i> ログイン</button>
            <% end %>
        <% end %>
      </div>

      <div class="signup_link">
        <%= link_to new_user_path do %>
          <button class="signup_btn"><i class="fas fa-user-plus"></i> 新規登録</button>
        <% end %>
      </div>

    </nav>

    <div class="content_box">
      <div class="around_box">
        <%= yield %>
      </div>
    </div>

    <%# ページ上部へ戻るリンク %>
    <div id="page_top"><a href="#"></a></div>

  </body>
</html>
